<div class="content-wrapper">
  <div class="container">


    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Quotes
        <small>All quotes in th system</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quotes</li>
      </ol>
    </section>


    <!-- Dummy page before server load -->
    <section *ngIf="!quotes" class="content ">
      <div class="row">
        <div class="col-md-12">

          <div class="box box-info">

            <div class="box-body">

              <div class="dataTabsssles_wrapper fosrm-inline dt-sbootstrap">
                <!-- table header -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_length">
                      <label>Show

                        <select name="example1_length"
                                aria-controls="example1"
                                class="form-control input-sm">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select> entries</label></div>
                  </div>
                  <div class="col-sm-6">
                    <div id="example1_filter"
                         class="dataTables_filter">

                      <button id="btn-add"
                              class="btn btn-success btn-flat"
                              routerLink="/clients/create">
                        <i class="fa fa-fw fa-plus"></i> Add Client
                      </button>

                      <label><input
                              class="form-control input-sm"
                              placeholder=""
                              aria-controls="example1"
                              type="search"
                              placeholder="Search all"></label></div>
                  </div>
                </div>

                <!-- table -->
                <div class="row">
                  <div class="col-sm-12">

                    <div class="timeline-wrapper">
                      <div class="timeline-item">


                        <table id="example1"
                               class="table "
                               role="grid">
                          <tbody>


                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>
                          <tr>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>
                            <td>
                              <div class="animated-background line"></div>
                            </td>


                          </tr>

                          </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- table footer -->
                <div class="row">
                  <div class="col-sm-5">
                    <div class="dataTables_info"
                         id="example1_info" role="status"
                         aria-live="polite">
                      Showing


                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
      </div>
    </section>


    <!-- Main content -->
    <section *ngIf="quotes" class="content">


      <div *ngIf="quotes" class="row">
        <div class="col-md-12">

          <div class="box box-info">
            <!--<div class="box-header">
                <h3 class="box-title">All quotes</h3>
            </div>-->

            <div class="box-body">

              <div id="example1_wrapper" class="dataTabsssles_wrapper fosrm-inline dt-sbootstrap">
                <!-- table header -->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                      <label>Show

                        <select name="example1_length"
                                aria-controls="example1"
                                class="form-control input-sm"
                                (change)="pagination_set_param('page_size',$event.target.value)">
                          <option value="10">10</option>
                          <option value="25">25</option>
                          <option value="50">50</option>
                          <option value="100">100</option>
                        </select> entries</label></div>
                  </div>
                  <div class="col-sm-6">
                    <div id="example1_filter"
                         class="dataTables_filter">

                      <button id="btn-add"
                              class="btn btn-success btn-flat"
                              routerLink="/quotes/create">
                        <i class="fa fa-fw fa-plus"></i> Add Quote
                      </button>

                      <label><input
                              class="form-control input-sm"
                              placeholder=""
                              aria-controls="example1"
                              type="search"
                              placeholder="Search all"
                              (change)="pagination_set_param('global_search',
                                                 $event.target.value)"></label></div>
                  </div>
                </div>

                <!-- table -->
                <div class="row">
                  <div class="col-sm-12">
                    <table id="example1"
                           class="table dataTable table-striped"
                           role="grid" aria-describedby="example1_info">
                      <thead>
                      <tr role="row">
                        <th class="sorting_asc"
                            tabindex="0"
                            aria-controls="example1"
                            rowspan="1"
                            colspan="1"
                            style="width: 172px;"
                            aria-sort="ascending"
                            aria-label="Rendering engine:
                                                activate to sort column descending">
                          Title
                        </th>
                        <th class="sorting" tabindex="0"
                            aria-controls="example1" rowspan="1"
                            colspan="1" style="width: 212px;"
                            aria-label="Browser: activate to sort column ascending">Client
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                            colspan="1" style="width: 187px;"
                            aria-label="Platform(s): activate to sort column ascending">Contact
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                            colspan="1" style="width: 146px;"
                            aria-label="Engine version: activate to sort column ascending">
                          Category
                        </th>

                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                            colspan="1" style="width: 146px;"
                            aria-label="Engine version: activate to sort column ascending">
                          Created By
                        </th>

                        <th style="width: 60px;">
                          Action
                        </th>

                      </tr>


                      <tr role="row">
                        <th>

                          <input
                                  class="form-control input-sm"
                                  placeholder=""
                                  type="search"
                                  (change)="pagination_set_param('title', $event.target.value)">
                        </th>
                        <th>

                          <input
                                  class="form-control input-sm"
                                  placeholder=""
                                  type="search"
                                  (change)="pagination_set_param('client_name', $event.target.value)">
                        </th>
                        <th>

                          <input
                                  class="form-control input-sm"
                                  placeholder=""
                                  type="search"
                                  (change)="pagination_set_param('contact', $event.target.value)">
                        </th>
                        <th>

                          <input
                                  class="form-control input-sm"
                                  placeholder=""
                                  type="search"
                                  (change)="pagination_set_param('category_name', $event.target.value)">
                        </th>
                        <th>

                          <input
                                  class="form-control input-sm"
                                  placeholder=""
                                  type="search"
                                  (change)="pagination_set_param('user_name', $event.target.value)">
                        </th>

                        <th></th>
                      </tr>

                      </thead>
                      <tbody>


                      <tr *ngFor="let quote of quotes.quotes.data"
                          role="row"
                          class="odd">
                        <td><a routerLink="/quotes/{{quote.id}}">
                          {{quote.title}}</a></td>

                        <td><a routerLink="/quotes/{{quote.client.id}}">
                          {{quote.client.name}}</a></td>

                        <td>{{quote.contact}}</td>
                        <td>{{quote.category.name}}</td>
                        <td>{{quote.user.name}}</td>
                        <td>

                          <button class="btn btn-warning btn-xs btn-detail"
                                  routerLink="/quotes/{{quote.id}}">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>

                          <button class="btn btn-warning btn-xs btn-detail"
                                  routerLink="/quotes/edit/{{quote.id}}">
                            <span class="glyphicon glyphicon-edit"></span>
                          </button>

                          <button class="btn btn-danger btn-xs btn-delete"
                                  (click)="confirm_delete(quote.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>

                        </td>
                      </tr>

                      </tbody>

                    </table>
                  </div>
                </div>

                <!-- table footer -->
                <div class="row">
                  <div class="col-sm-5">
                    <div class="dataTables_info"
                         id="example1_info" role="status"
                         aria-live="polite">
                      Showing

                      <span *ngIf="quotes.quotes.from">
                                            {{quotes.quotes.from}} to {{quotes.quotes.to}} of
                                        </span>

                      {{quotes.quotes.total}} entries
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                      <ul class="pagination">


                        <li class="paginate_button previous"
                            id="example1_previous"
                            [ngClass]="{
                                                'disabled': quotes.quotes.prev_page_url==null}">
                          <a aria-controls="example1"
                             data-dt-idx="0"
                             tabindex="0"
                             (click)="pagination_set_param('page',quotes.quotes.current_page-1)">Previous</a>
                        </li>


                        <li *ngFor="let page of pages"
                            i="index"
                            class="paginate_button "
                            [ngClass]="{
                                                'active': quotes.quotes.current_page==page+1}">

                          <a aria-controls="example1"
                             data-dt-idx="1"
                             tabindex="0"
                             (click)="pagination_set_param('page',page+1)">{{page+1}}</a>

                        </li>


                        <li class="paginate_button next"
                            id="example1_next"
                            [ngClass]="{
                                                'disabled': quotes.quotes.next_page_url==null}">
                          <a aria-controls="example1"
                             data-dt-idx="7"
                             tabindex="0"
                             (click)="pagination_set_param('page',
                                                   quotes.quotes.next_page_url==null
                                                   ? quotes.quotes.current_page
                                                   :quotes.quotes.current_page+1)">Next</a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
</div>
