.form-horizontal .control-label .required{
    color: #ef0000;
}

.pagination li {
    cursor: pointer;
}

.datepicker{
    padding: 0;
}

.dataTable thead{
    background: #f9f9f9;
}

h2.box-title {
    color: #888;
    font-weight: bold;
}
/*
.wrapper {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: absolute;
}*/

.content-wrapper{
    width: 100%;
    min-height: 100%;
    /*height: auto !important;
    position: absolute;*/

    height: auto !important;
    min-height: 690px !important;

}
/*

.main-footer{
    width: 100%;
    bottom: 0;
    position: absolute;
}*/


.textarea-disabled-html{
    background-color: #eeeeee;
    border:1px solid #d2d6de;
    box-shadow: none;
    padding:6px 12px;
    min-height: 150px;
}
.input-disabled-html{
    background-color: #eeeeee;
    border:1px solid #d2d6de;
    box-shadow: none;
    padding:6px 12px;
}
.navbar-nav > li > .dropdown-menu{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(166,166,166,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(166,166,166,1);
    box-shadow: 0px 0px 5px 0px rgba(166,166,166,1);
}

.dataTables_filter .btn{
    line-height: 15px;
}

.modal-footer{
    text-align: left;
}


.simple-notification.error { background: #F44336; }
.simple-notification.success { background: #00cc6c !important; }
.simple-notification.success .sn-progress-loader span { background: #286b4c !important; }
.simple-notification.alert { background: #ffdb5b; }
.simple-notification.info { background: #03A9F4; }