<div class="content-wrapper">
    <div class="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
              Client Detail
              <small *ngIf="client">{{client.name}}</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a routerLink="/clients">Clients</a></li>
                <li class="active" *ngIf="client">{{client.name}}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section *ngIf="client" class="content">
            <div class="row">
                <div class="col-md-9">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <!--<div class="box-header with-border">
                            <h3 class="box-title">Client: {{client.name}}</h3>
                        </div>-->

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">

                            <div class="box-body">


                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name</label>

                                    <div class="col-sm-5">
                                        <input disabled
                                               type="text"
                                               class="form-control"
                                               value="{{client.name}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Address Line 1</label>

                                    <div class="col-sm-5">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.address_line_1}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Address Line 2</label>

                                    <div class="col-sm-5">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.address_line_2}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">State</label>

                                    <div class="col-sm-2">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.state}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Postcode</label>

                                    <div class="col-sm-2">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.postcode}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-5">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.email}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Phone</label>

                                    <div class="col-sm-2">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.phone}}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Payment Terms</label>

                                    <div class="col-sm-2">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.payment_terms}}">
                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label class="col-sm-2 control-label">Payable Invoice Due
                                        Date</label>

                                    <div class="col-sm-5">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.payable_invoice_due_date}}">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Receivable Invoice
                                        Due Date</label>

                                    <div class="col-sm-5">
                                        <input disabled type="text"
                                               class="form-control"
                                               value="{{client.receivable_invoice_due_date}}">
                                    </div>
                                </div>-->


                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">

                                <a routerLink="/clients/edit/{{client.id}}"
                                   class="btn btn-success"><i class="fa fa-fw fa-pencil"></i> Edit</a>

                                <a routerLink="/clients"
                                   class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                                    Back To Client List</a>


                            </div>
                            <!-- /.box-footer -->

                        </form>
                    </div>
                    <!-- /.box -->
                </div>

                <div *ngIf="client" class="col-md-3">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h2 class="box-title">Client: {{client.name}}</h2>
                        </div>


                        <div class="box-body">

                            Owed to You: $$$ <br>
                            Owed to Them: $$$ <br><br>

                            <button type="button"
                                    routerLink="/clients/quotes/{{client.id}}"
                                    class="btn btn-default btn-block">View Quotes
                                <span class="badge bg-green">{{quote_count}}</span>
                            </button>

                            <button type="button"
                                    routerLink="/clients/projects/{{client.id}}"
                                    class="btn btn-default btn-block">View Projects
                                <span class="badge bg-green">{{project_count}}</span>
                            </button>



                            <!--<button type="button"
                                    class="btn btn-default btn-block">View Invoices(2)
                            </button>-->

                        </div>
                        <!-- /.box-header -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->


    </div>
</div>
