<div class="content-wrapper">
    <div class="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
                Project Detail
                <small *ngIf="project">{{project.title}}</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a routerLink="/projects">Projects</a></li>
                <li class="active" *ngIf="project">{{project.number}}: {{project.title}}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section *ngIf="project" class="content">
            <div class="row">
                <div class="col-md-9">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <!--<div class="box-header with-border">
                            <h3 class="box-title">Project {{project.number}}: {{project.title}}</h3>
                        </div>-->

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal"
                              role="form">

                            <div class="box-body">

                                <!-- project no -->
                                <div class="form-group">

                                    <label for="client" class="col-sm-2 control-label">Project Number
                                    </label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="number"
                                               class="form-control"
                                               value="{{project.number}}">
                                    </div>
                                </div>


                                <!-- client -->
                                <div class="form-group">

                                    <label for="client" class="col-sm-2 control-label">Client
                                    </label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="client"
                                               class="form-control"
                                               value="{{project.client.name}}">
                                    </div>
                                </div>

                                <!-- title -->
                                <div class="form-group">

                                    <label for="title" class="col-sm-2 control-label">Title</label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="title"
                                               class="form-control"
                                               value="{{project.title}}">

                                    </div>
                                </div>


                                <!-- description -->
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Description</label>

                                    <div class="col-sm-9">
                                        <div disabled class="textarea-disabled-html"
                                                  id="description">{{project.description}}</div>

                                    </div>
                                </div>

                                <!-- category -->
                                <div class="form-group">
                                    <label for="category" class="col-sm-2 control-label">
                                        Category</label>

                                    <div class="col-sm-5">
                                        <input disabled
                                               type="text"
                                               id="category"
                                               class="form-control"
                                               value="{{project.category?project.category.name:''}}">

                                    </div>
                                </div>
                                <!-- order no -->
                                <div class="form-group">
                                    <label for="order_no" class="col-sm-2 control-label">
                                        Order No</label>

                                    <div class="col-sm-5">
                                        <input disabled
                                               type="text"
                                               id="order_no"
                                               class="form-control"
                                               value="{{project.order_no}}">

                                    </div>
                                </div>

                                <!-- quoted sell -->
                                <div class="form-group">
                                    <label for="quoted_sell_price" class="col-sm-2 control-label">
                                        Quoted Sell</label>

                                    <div class="col-sm-5">
                                        <input disabled
                                               type="text"
                                               id="quoted_sell_price"
                                               class="form-control"
                                               value="{{project.quoted_sell_price_formatted}}">

                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">

                                <a routerLink="/projects/edit/{{project.id}}"
                                   class="btn btn-success"><i class="fa fa-fw fa-pencil"></i> Edit</a>



                                <div *ngIf="project" class="btn-group">
                                    <a routerLink="/projects"
                                       class="btn btn-default"><i class="fa fa-fw fa-backward"></i> Back To Project List</a>

                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a routerLink="/clients/{{project.client_id}}"><i class="fa fa-fw fa-backward"></i>Back To Client</a></li>
                                    </ul>
                                </div>

                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                    <!-- general form elements disabled -->
                    <!-- /.box -->
                </div>

                <div class="col-md-3">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h2 class="box-title">Project: {{project.number}}</h2>
                        </div>



                        <div class="box-body">

                            Current Cost: $$$ <br>
                            Current Sell: $$$ <br>
                            Profit: $$$ <br>
                            Profit Margin: %%% <br><br>

                            <button type="button"
                                    class="btn btn-default btn-block">PDF
                            </button>

                        </div>
                        <!-- /.box-header -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>

