<div class="content-wrapper">
  <div class="container">

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Add Project
        <small *ngIf="!client">Add project in the system</small>
        <small *ngIf="client">Add project under client: {{client.name}}</small>
      </h1>

      <!-- Create project -->
      <ol *ngIf="!client" class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li class="active">Add Project</li>
      </ol>

      <!-- Create project under client-->
      <ol *ngIf="client" class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/clients">Clients</a></li>
        <li><a routerLink="/clients/{{client.id}}">Client: {{client.name}}</a></li>
        <li class="active">Add Project</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <!--<div class="box-header with-border">
                <h3 class="box-title">New Project</h3>
            </div>-->

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal"
                  role="form"
                  [formGroup]="project_form"
                  (ngSubmit)="on_create(project_form)">

              <div class="box-body">


                <!-- client -->
                <div *ngIf="client" class="form-group">
                  <label for="description" class="col-sm-2 control-label">Client</label>

                  <div class="col-sm-6">
                    <input type="hidden" class="form-control"
                           id="client_id"
                           [(ngModel)]="client.id"
                           formControlName="client_id">


                    <div class="input-disabled-html">{{client.name}}</div>

                  </div>
                </div>


                <!-- title -->
                <div class="form-group"
                     [ngClass]="{'has-error':project_form.controls['title'].touched
                                     && project_form.controls['title'].errors}">

                  <label for="name" class="col-sm-2 control-label">Title
                    <span class="required">*</span>
                  </label>

                  <div class="col-sm-6">
                    <input type="text"
                           class="form-control"
                           id="title"
                           placeholder="title"
                           formControlName="title">

                    <div *ngIf="project_form.controls['title'].touched
                                    && project_form.controls['title'].errors">
                                        <span class="help-block"
                                              *ngIf="project_form.controls['title'].errors"
                                        >Title is required.</span>
                    </div>

                  </div>
                </div>

                <!-- description -->
                <div class="form-group">
                  <label for="description" class="col-sm-2 control-label">Description</label>

                  <div class="col-sm-9">
                                        <textarea class="form-control"
                                                  id="description"
                                                  placeholder="Description"
                                                  rows="10"
                                                  formControlName="description"></textarea>

                  </div>
                </div>

                <!-- category -->
                <div class="form-group">
                  <label for="select2categories" class="col-sm-2 control-label">
                    Category</label>

                  <div class="col-sm-6">
                    <select class="form-control select2"
                            id="select2categories"
                            style="width: 100%;"
                            [(ngModel)]="set_category_id"
                            formControlName="category_id">
                      <option selected="selected" value="0">- Select Category -</option>
                    </select>

                  </div>
                </div>

                <!-- order no -->
                <div class="form-group">
                  <label for="order_no" class="col-sm-2 control-label">
                    Order No</label>

                  <div class="col-sm-6">
                    <input type="text"
                           class="form-control"
                           id="order_no"
                           placeholder="Order No"
                           formControlName="order_no">

                  </div>
                </div>

                <!-- quoted sell -->
                <div class="form-group">
                  <label for="quoted_sell_price" class="col-sm-2 control-label">
                    Quoted Sell</label>

                  <div class="col-sm-6">
                    <input type="text"
                           class="form-control"
                           id="quoted_sell_price"
                           placeholder="Quoted Sell"
                           formControlName="quoted_sell_price">

                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">

                <button type="submit"
                        class="btn btn-success"
                        [disabled]="!project_form.valid"><i class="fa fa-fw fa-save"></i> Create
                </button>

                <!-- Back to Project -->
                <a *ngIf="!client" routerLink="/projects"
                   class="btn btn-default">
                  <i class="fa fa-fw fa-backward"></i> Back To Project List</a>


                <!-- Brack dropdown -->
                <div *ngIf="client" class="btn-group">
                  <a routerLink="/clients/{{client.id}}"
                     class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                    Back To Client</a>

                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a routerLink="/clients"><i class="fa fa-fw fa-backward"></i>Back To Clients</a></li>
                    <li><a routerLink="/clients/projects/{{client.id}}"><i class="fa fa-fw fa-backward"></i>Back To Client Project List</a></li>
                  </ul>
                </div>


              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>

