<div class="content-wrapper">
  <div class="container">

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Item Detail
        <small *ngIf="item">{{item.name}}</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li *ngIf="item" class="active">{{item.name}}</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content" *ngIf="item">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">

              <div class="box-body">

                <div class="form-group">

                  <label for="name" class="col-sm-2 control-label">Name
                  </label>

                  <div class="col-sm-5">
                    <input disabled type="text"
                           class="form-control"
                           id="name"
                           value="{{item.name}}">
                  </div>
                </div>


                <div class="form-group">
                  <label for="cost_price" class="col-sm-2 control-label">Cost Price</label>

                  <div class="col-sm-5">
                    <input disabled type="text"
                           class="form-control"
                           id="cost_price"
                           value="{{item.cost_price_formatted}}">

                  </div>
                </div>
                <div class="form-group">
                  <label for="quantity" class="col-sm-2 control-label">Quantity</label>

                  <div class="col-sm-5">
                    <input disabled type="text"
                           class="form-control"
                           id="quantity"
                           value="{{item.quantity}}">


                  </div>
                </div>
                <div class="form-group">
                  <label for="quantity" class="col-sm-2 control-label">Total Cost</label>

                  <div class="col-sm-5">
                    <input disabled type="text"
                           class="form-control"
                           id="total_cost"
                           value="{{item.total_cost}}">


                  </div>
                </div>


              </div>

              <!-- /.box-body -->
              <div class="box-footer">

                <a routerLink="/items/edit/{{item.id}}"
                   class="btn btn-success"><i class="fa fa-fw fa-pencil"></i> Edit</a>

                <a routerLink="/items"
                   class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                  Back To Item List</a>


              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>
