<div class="content-wrapper">
  <div class="container">

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Add Item
        <small>Add Item in the inventories</small>
      </h1>

      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li class="active">Add Item</li>
      </ol>

    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-9">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <!--<div class="box-header with-border">
                <h3 class="box-title">Edit Client: {{item.name}}</h3>
            </div>-->

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal"
                  role="form"
                  [formGroup]="itemForm"
                  (ngSubmit)="on_create(itemForm)">

              <div class="box-body">

                <div class="form-group"
                     [ngClass]="{'has-error':itemForm.controls['name'].touched
                                     && itemForm.controls['name'].errors}">

                  <label for="name" class="col-sm-2 control-label">Name
                    <span class="required">*</span>
                  </label>

                  <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="Name"
                           formControlName="name">

                    <div *ngIf="itemForm.controls['name'].touched
                                    && itemForm.controls['name'].errors">
                                        <span class="help-block"
                                              *ngIf="itemForm.controls['name'].errors"
                                        >Name is required.</span>
                    </div>

                  </div>
                </div>


                <div class="form-group">
                  <label for="cost_price" class="col-sm-2 control-label">Cost Price</label>

                  <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="cost_price"
                           placeholder="Cost Price"
                           formControlName="cost_price">

                  </div>
                </div>
                <div class="form-group">
                  <label for="quantity" class="col-sm-2 control-label">Quantity</label>

                  <div class="col-sm-5">
                    <input type="text"
                           class="form-control"
                           id="quantity"
                           placeholder="Quantity"
                           formControlName="quantity">

                  </div>
                </div>


              </div>

              <!-- /.box-body -->
              <div class="box-footer">



                <button type="submit"
                        class="btn btn-success"
                        [disabled]="!itemForm.valid"><i class="fa fa-fw fa-save"></i> Create
                </button>


                <a routerLink="/items"
                   class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                  Back To Item List</a>


              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>
