
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Job</b>MS</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>


    <!-- Login Error -->
    <div *ngIf="error_message" class="callout callout-danger">
      <h4>Login Error!</h4>
      <p>{{error_message}}</p>
    </div>

    <form
            role="form"
            [formGroup]="loginForm"
            (ngSubmit)="on_login(loginForm)">

      <div class="form-group has-feedback"
           [ngClass]="{'has-error':loginForm.controls['username'].touched
                                     && loginForm.controls['username'].errors}">
        <input type="email"
               class="form-control"
               id="username"
               placeholder="Email"
               formControlName="username">

        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback"
           [ngClass]="{'has-error':loginForm.controls['password'].touched
                                     && loginForm.controls['password'].errors}">
        <input type="password"
               class="form-control"
               id="password"
               placeholder="Password"
               formControlName="password">

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

      </div>

      <div class="row">
        <!--<div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>-->

        <div class="col-xs-4">
          <button type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  [disabled]="!loginForm.valid">Sign In
          </button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    <!--<a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>
-->

  </div>
  <!-- /.login-box-body -->
</div>
