<div class="content-wrapper">
    <div class="container">

        <simple-notifications [options]="options"></simple-notifications>

        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
                Clients
                <small>All clients in th system</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Clients</li>
            </ol>
        </section>


        <!-- Dummy page before server load -->
        <section *ngIf="!clients" class="content ">
            <div class="row">
                <div class="col-md-12">

                    <div class="box box-info">

                        <div class="box-body">

                            <div class="dataTabsssles_wrapper fosrm-inline dt-sbootstrap">
                                <!-- table header -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_length">
                                            <label>Show

                                                <select name="example1_length"
                                                        aria-controls="example1"
                                                        class="form-control input-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="example1_filter"
                                             class="dataTables_filter">

                                            <button id="btn-add"
                                                    class="btn btn-success btn-flat"
                                                    routerLink="/clients/create">
                                                <i class="fa fa-fw fa-plus"></i> Add Client
                                            </button>

                                            <label><input
                                                    class="form-control input-sm"
                                                    placeholder=""
                                                    aria-controls="example1"
                                                    type="search"
                                                    placeholder="Search all"></label></div>
                                    </div>
                                </div>

                                <!-- table -->
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="timeline-wrapper">
                                            <div class="timeline-item">


                                                <table id="example1"
                                                       class="table "
                                                       role="grid">
                                                    <tbody>


                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>
                                                        <td>
                                                            <div class="animated-background line"></div>
                                                        </td>


                                                    </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- table footer -->
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="dataTables_info"
                                             id="example1_info" role="status"
                                             aria-live="polite">
                                            Showing


                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </section>


        <!-- Main content -->
        <section *ngIf="clients" class="content">


            <div class="row">
                <div class="col-md-12">

                    <div class="box box-info">
                        <!--<div class="box-header">
                            <h3 class="box-title">All Clients</h3>
                        </div>-->

                        <div class="box-body">

                            <div id="example1_wrapper" class="dataTabsssles_wrapper fosrm-inline dt-sbootstrap">
                                <!-- table header -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="dataTables_length" id="example1_length">
                                            <label>Show

                                                <select name="example1_length"
                                                        aria-controls="example1"
                                                        class="form-control input-sm"
                                                        (change)="pagination_set_param('page_size',$event.target.value)">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div id="example1_filter"
                                             class="dataTables_filter">

                                            <!--<button id="btn-add"
                                                    class="btn btn-success btn-flat"
                                                    routerLink="/clients/create">
                                                <i class="fa fa-fw fa-plus"></i> Add Client
                                            </button>-->

                                            <button type="button"
                                                    class="btn btn-success btn-flat"
                                                    data-toggle="modal"
                                                    data-target="#modal_create_client">
                                                <i class="fa fa-fw fa-plus"></i> Add Client
                                            </button>

                                            <label><input
                                                    class="form-control input-sm"
                                                    placeholder=""
                                                    aria-controls="example1"
                                                    type="search"
                                                    placeholder="Search all"
                                                    (change)="pagination_set_param('global_search',
                                                 $event.target.value)"></label></div>
                                    </div>
                                </div>

                                <!-- table -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="example1"
                                               class="table dataTable table-striped"
                                               role="grid" aria-describedby="example1_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc"
                                                    tabindex="0"
                                                    aria-controls="example1"
                                                    rowspan="1"
                                                    colspan="1"
                                                    style="width: 172px;"
                                                    aria-sort="ascending"
                                                    aria-label="Rendering engine:
                                                activate to sort column descending">
                                                    Name
                                                </th>
                                                <th class="sorting" tabindex="0"
                                                    aria-controls="example1" rowspan="1"
                                                    colspan="1" style="width: 212px;"
                                                    aria-label="Browser: activate to sort column ascending">Address Line
                                                    1
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" style="width: 187px;"
                                                    aria-label="Platform(s): activate to sort column ascending">State
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" style="width: 146px;"
                                                    aria-label="Engine version: activate to sort column ascending">
                                                    Postcode
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                    colspan="1" style="width: 104px;"
                                                    aria-label="CSS grade: activate to sort column ascending">Phone
                                                </th>

                                                <th style="width: 60px;">
                                                    Action
                                                </th>

                                            </tr>


                                            <tr role="row">
                                                <th>

                                                    <input
                                                            class="form-control input-sm"
                                                            placeholder=""
                                                            type="search"
                                                            (change)="pagination_set_param('name', $event.target.value)">
                                                </th>
                                                <th>

                                                    <input
                                                            class="form-control input-sm"
                                                            placeholder=""
                                                            type="search"
                                                            (change)="pagination_set_param('address_line_1', $event.target.value)">
                                                </th>
                                                <th>

                                                    <input
                                                            class="form-control input-sm"
                                                            placeholder=""
                                                            type="search"
                                                            (change)="pagination_set_param('state', $event.target.value)">
                                                </th>
                                                <th>

                                                    <input
                                                            class="form-control input-sm"
                                                            placeholder=""
                                                            type="search"
                                                            (change)="pagination_set_param('postcode', $event.target.value)">
                                                </th>
                                                <th>

                                                    <input
                                                            class="form-control input-sm"
                                                            placeholder=""
                                                            type="search"
                                                            (change)="pagination_set_param('phone', $event.target.value)">
                                                </th>
                                                <th></th>
                                            </tr>

                                            </thead>
                                            <tbody>


                                            <tr *ngFor="let client of clients.clients.data"
                                                role="row"
                                                class="odd">
                                                <td><a routerLink="/clients/{{client.id}}">
                                                    {{client.name}}</a></td>

                                                <td>{{client.address_line_1}}</td>
                                                <td>{{client.state}}</td>
                                                <td>{{client.postcode}}</td>
                                                <td>{{client.phone}}</td>
                                                <td>

                                                    <button class="btn btn-warning btn-xs btn-detail"
                                                            routerLink="/clients/{{client.id}}">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                    </button>

                                                    <button class="btn btn-warning btn-xs btn-detail"
                                                            routerLink="/clients/edit/{{client.id}}">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button>

                                                    <button class="btn btn-danger btn-xs btn-delete"
                                                            (click)="confirm_delete(client.id)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>

                                                </td>
                                            </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>

                                <!-- table footer -->
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="dataTables_info"
                                             id="example1_info" role="status"
                                             aria-live="polite">
                                            Showing

                                            <span *ngIf="clients.clients.from">
                                            {{clients.clients.from}} to {{clients.clients.to}} of
                                        </span>

                                            {{clients.clients.total}} entries
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                            <ul class="pagination">


                                                <li class="paginate_button previous"
                                                    id="example1_previous"
                                                    [ngClass]="{
                                                'disabled': clients.clients.prev_page_url==null}">
                                                    <a aria-controls="example1"
                                                       data-dt-idx="0"
                                                       tabindex="0"
                                                       (click)="pagination_set_param('page',clients.clients.current_page-1)">Previous</a>
                                                </li>


                                                <li *ngFor="let page of pages"
                                                    i="index"
                                                    class="paginate_button "
                                                    [ngClass]="{
                                                'active': clients.clients.current_page==page+1}">

                                                    <a aria-controls="example1"
                                                       data-dt-idx="1"
                                                       tabindex="0"
                                                       (click)="pagination_set_param('page',page+1)">{{page+1}}</a>

                                                </li>


                                                <li class="paginate_button next"
                                                    id="example1_next"
                                                    [ngClass]="{
                                                'disabled': clients.clients.next_page_url==null}">
                                                    <a aria-controls="example1"
                                                       data-dt-idx="7"
                                                       tabindex="0"
                                                       (click)="pagination_set_param('page',
                                                   clients.clients.next_page_url==null
                                                   ? clients.clients.current_page
                                                   :clients.clients.current_page+1)">Next</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
</div>


<!-- Modal -->
<div id="modal_create_client" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Client</h4>
            </div>

            <!-- form start -->
            <form class="form-horizontal"
                  role="form"
                  [formGroup]="clientForm"
                  (ngSubmit)="on_create(clientForm)">

                <div class="modal-body">

                    <div class="box-body">

                        <div class="form-group"
                             [ngClass]="{'has-error':clientForm.controls['name'].touched
                                     && clientForm.controls['name'].errors}">

                            <label for="name" class="col-sm-3 control-label">Name
                                <span class="required">*</span>
                            </label>

                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="Name"
                                       formControlName="name">

                                <div *ngIf="clientForm.controls['name'].touched
                                    && clientForm.controls['name'].errors">
                                        <span class="help-block"
                                              *ngIf="clientForm.controls['name'].errors"
                                        >Name is required.</span>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label for="address_line_1" class="col-sm-3 control-label">
                                Address Line 1</label>

                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control"
                                       id="address_line_1"
                                       placeholder="Address Line 1"
                                       formControlName="address_line_1">

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="address_line_2" class="col-sm-3 control-label">
                                Address Line 2</label>

                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control"
                                       id="address_line_2"
                                       placeholder="Address Line 2"
                                       formControlName="address_line_2">

                            </div>
                        </div>


                        <div class="form-group">
                            <label for="state" class="col-sm-3 control-label">State</label>

                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control"
                                       id="state"
                                       placeholder="State"
                                       formControlName="state">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="postcode" class="col-sm-3 control-label">Postcode</label>

                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control"
                                       id="postcode"
                                       placeholder="Postcode"
                                       formControlName="postcode">
                            </div>
                        </div>

                        <div class="form-group"
                             [ngClass]="{'has-error':clientForm.controls['email'].touched
                                     && clientForm.controls['email'].errors}">

                            <label for="email" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">
                                <input type="text"
                                       class="form-control"
                                       id="email"
                                       placeholder="Email"
                                       formControlName="email">

                                <div *ngIf="clientForm.controls['email'].touched
                                    && clientForm.controls['email'].errors">
                                        <span class="help-block"
                                              *ngIf="clientForm.controls['email'].errors"
                                        >Invalid email address.</span>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label for="phone" class="col-sm-3 control-label">Phone</label>

                            <div class="col-sm-4">
                                <input type="text"
                                       class="form-control"
                                       id="phone"
                                       placeholder="Phone"
                                       formControlName="phone">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="phone" class="col-sm-3 control-label">Payment Terms</label>

                            <div class="col-sm-4">
                                <select select2 class="form-control"
                                        id="payment_terms"
                                        formControlName="payment_terms">
                                    <option value="">- Select -</option>
                                    <option value="15 days">15 days</option>
                                    <option value="1 month">1 month</option>
                                    <option value="2 months">2 months</option>
                                </select>

                            </div>
                        </div>


                    </div>


                </div>

                <div class="modal-footer">

                    <button type="submit"
                            class="btn btn-success"
                            [disabled]="!clientForm.valid"><i class="fa fa-fw fa-save"></i> Create
                    </button>

                </div>
            </form>

        </div>

    </div>
</div>