<div class="content-wrapper">
    <div class="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
                Quote Detail
                <small *ngIf="quote">{{quote.title}}</small>
            </h1>

            <!-- Create project -->
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a routerLink="/quotes">Quotes</a></li>
                <li class="active" *ngIf="quote">{{quote.number}}: {{quote.title}}</li>
            </ol>


        </section>

        <!-- Main content -->
        <section *ngIf="quote" class="content">
            <div class="row">
                <div class="col-md-9">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <!--<div class="box-header with-border">
                            <h3 class="box-title">New Project</h3>
                        </div>-->

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">

                            <div class="box-body">

                                <!-- project no -->
                                <div class="form-group">

                                    <label for="client" class="col-sm-2 control-label">Quote Number
                                    </label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="number"
                                               class="form-control"
                                               value="{{quote.number}}">
                                    </div>
                                </div>

                                <!-- client -->
                                <div class="form-group">

                                    <label for="client" class="col-sm-2 control-label">Client
                                    </label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="client"
                                               class="form-control"
                                               value="{{quote.client.name}}">
                                    </div>
                                </div>

                                <!-- title -->
                                <div class="form-group">

                                    <label for="title" class="col-sm-2 control-label">Title</label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="title"
                                               class="form-control"
                                               value="{{quote.title}}">

                                    </div>
                                </div>


                                <!-- description -->
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Description</label>

                                    <div class="col-sm-9">
                                        <div disabled class="textarea-disabled-html"
                                             id="description">{{quote.description}}
                                        </div>

                                    </div>
                                </div>

                                <!-- contact -->
                                <div class="form-group">
                                    <label for="contact" class="col-sm-2 control-label">
                                        Contact</label>

                                    <div class="col-sm-6">
                                        <input disabled
                                               type="text"
                                               id="contact"
                                               class="form-control"
                                               value="{{quote.contact}}">
                                    </div>
                                </div>


                                <!-- category -->
                                <div class="form-group">
                                    <label for="category" class="col-sm-2 control-label">
                                        Category</label>

                                    <div class="col-sm-5">
                                        <input disabled
                                               type="text"
                                               id="category"
                                               class="form-control"
                                               value="{{quote.category?quote.category.name:''}}">

                                    </div>
                                </div>


                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">

                                <a routerLink="/quotes/edit/{{quote.id}}"
                                   class="btn btn-success"><i class="fa fa-fw fa-pencil"></i> Edit</a>


                                <!-- Back to Project -->
                                <div *ngIf="quote" class="btn-group">
                                    <a routerLink="/quotes"
                                       class="btn btn-default"><i class="fa fa-fw fa-backward"></i> Back To Quote
                                        List</a>

                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a routerLink="/clients/{{quote.client_id}}"><i
                                                class="fa fa-fw fa-backward"></i>Back To Client</a></li>
                                    </ul>
                                </div>


                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                    <!-- general form elements disabled -->
                    <!-- /.box -->
                </div>

                <div class="col-md-3">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h2 class="box-title">Quote: {{quote.number}}</h2>
                        </div>


                        <div class="box-body">

                            Current Cost: $$$ <br>
                            Current Sell: $$$ <br>
                            Profit: $$$ <br>
                            Profit Margin: %%% <br><br>

                            <button type="button"
                                    class="btn btn-default btn-block">Accept Quote
                            </button>

                            <button type="button"
                                    class="btn btn-default btn-block">Decline Quote
                            </button>

                            <button type="button"
                                    class="btn btn-default btn-block">Revise Quote
                            </button>

                            <button type="button"
                                    class="btn btn-default btn-block">Add Variation
                            </button>

                            <button type="button"
                                    class="btn btn-default btn-block">PDF
                            </button>

                            <button type="button"
                                    class="btn btn-default btn-block">See Figures
                            </button>


                        </div>
                        <!-- /.box-header -->
                    </div>
                    <!-- /.box -->
                </div>

            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>

