<div class="content-wrapper">
    <div class="container">

        <!-- Content Header (Page header) -->
        <section class="content-header">

            <h1>
                Edit Client
                <small *ngIf="client">{{client.name}}</small>
            </h1>

            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a routerLink="/clients">Clients</a></li>
                <li *ngIf="client" class="active">{{client.name}}</li>
            </ol>

        </section>

        <!-- Main content -->
        <section class="content" *ngIf="client">
            <div class="row">
                <div class="col-md-9">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <!--<div class="box-header with-border">
                            <h3 class="box-title">Edit Client: {{client.name}}</h3>
                        </div>-->

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal"
                              role="form"
                              [formGroup]="clientForm"
                              (ngSubmit)="on_update(clientForm)">

                            <div class="box-body">

                                <div class="form-group"
                                     [ngClass]="{'has-error':clientForm.controls['name'].touched
                                     && clientForm.controls['name'].errors}">

                                    <label for="name" class="col-sm-2 control-label">Name
                                        <span class="required">*</span>
                                    </label>

                                    <div class="col-sm-5">
                                        <input type="text"
                                               class="form-control"
                                               id="name"
                                               placeholder="Name"
                                               formControlName="name">

                                        <div *ngIf="clientForm.controls['name'].touched
                                    && clientForm.controls['name'].errors">
                                        <span class="help-block"
                                              *ngIf="clientForm.controls['name'].errors"
                                        >Name is required.</span>
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="address_line_1" class="col-sm-2 control-label">
                                        Address Line 1</label>

                                    <div class="col-sm-5">
                                        <input type="text"
                                               class="form-control"
                                               id="address_line_1"
                                               placeholder="Address Line 1"
                                               formControlName="address_line_1">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address_line_2" class="col-sm-2 control-label">
                                        Address Line 2</label>

                                    <div class="col-sm-5">
                                        <input type="text"
                                               class="form-control"
                                               id="address_line_2"
                                               placeholder="Address Line 2"
                                               formControlName="address_line_2">

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="state" class="col-sm-2 control-label">State</label>

                                    <div class="col-sm-2">
                                        <input type="text"
                                               class="form-control"
                                               id="state"
                                               placeholder="State"
                                               formControlName="state">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="postcode" class="col-sm-2 control-label">Postcode</label>

                                    <div class="col-sm-2">
                                        <input type="text"
                                               class="form-control"
                                               id="postcode"
                                               placeholder="Postcode"
                                               formControlName="postcode">
                                    </div>
                                </div>

                                <div class="form-group"
                                     [ngClass]="{'has-error':clientForm.controls['email'].touched
                                     && clientForm.controls['email'].errors}">

                                    <label for="email" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-5">
                                        <input type="text"
                                               class="form-control"
                                               id="email"
                                               placeholder="Email"
                                               formControlName="email">

                                        <div *ngIf="clientForm.controls['email'].touched
                                    && clientForm.controls['email'].errors">
                                        <span class="help-block"
                                              *ngIf="clientForm.controls['email'].errors"
                                        >Invalid email address.</span>
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="phone" class="col-sm-2 control-label">Phone</label>

                                    <div class="col-sm-2">
                                        <input type="text"
                                               class="form-control"
                                               id="phone"
                                               placeholder="Phone"
                                               formControlName="phone">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="phone" class="col-sm-2 control-label">Payment Terms</label>

                                    <div class="col-sm-2">
                                        <select select2 class="form-control"
                                                id="payment_terms"
                                                formControlName="payment_terms">
                                            <option value="">- Select -</option>
                                            <option value="15 days">15 days</option>
                                            <option value="1 month">1 month</option>
                                            <option value="2 months">2 months</option>
                                        </select>

                                    </div>
                                </div>

                                <!--<div class="form-group">
                                    <label for="payable_invoice_due_date" class="col-sm-2 control-label">
                                        Payable Invoice Due Date</label>

                                    <div class="col-sm-5">

                                        <div class="input-group input-append date"
                                             id="datepicker-payable">
                                            <input type="text"
                                                   class="form-control payable_invoice_due_date"
                                                   id="payable_invoice_due_date"
                                                   placeholder="Payable Invoice Due Date"
                                                   [(ngModel)]="set_payable_invoice_due_date"
                                                   formControlName="payable_invoice_due_date">

                                            <span class="add-on input-group-addon">
                                        <i class="icon-th glyphicon glyphicon-calendar"></i></span>

                                        </div>


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="receivable_invoice_due_date" class="col-sm-2 control-label">
                                        Receivable Invoice Due Date</label>

                                    <div class="col-sm-5">

                                        <div class="input-group input-append date"
                                             id="datepicker-receivable">
                                            <input type="text"
                                                   class="form-control receivable_invoice_due_date"
                                                   id="receivable_invoice_due_date"
                                                   placeholder="Receivable Invoice Due Date"
                                                   [(ngModel)]="set_receivable_invoice_due_date"
                                                   formControlName="receivable_invoice_due_date">

                                            <span class="add-on input-group-addon">
                                        <i class="icon-th glyphicon glyphicon-calendar"></i></span>

                                        </div>



                                    </div>
                                </div>-->


                            </div>

                            <!-- /.box-body -->
                            <div class="box-footer">



                                <button type="submit"
                                        class="btn btn-success"
                                        [disabled]="!clientForm.valid"><i class="fa fa-fw fa-save"></i> Update
                                </button>


                                <div class="btn-group">
                                    <a routerLink="/clients/{{client.id}}"
                                       class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                                        Back To Client</a>

                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a routerLink="/clients"><i class="fa fa-fw fa-backward"></i>Back To Client List</a></li>
                                    </ul>
                                </div>


                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                    <!-- general form elements disabled -->
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>
