<div class="content-wrapper">
  <div class="container">

    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1>
        Add Quote
        <small>Add Quote in the system</small>
      </h1>

      <!-- Create project -->
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a routerLink="/quotes">Quotes</a></li>
        <li class="active">Add Quote</li>
      </ol>


    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <!--<div class="box-header with-border">
                <h3 class="box-title">New Project</h3>
            </div>-->

            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal"
                  role="form"
                  [formGroup]="quote_form"
                  (ngSubmit)="on_create(quote_form)">

              <div class="box-body">

                <!-- client -->
                <div class="form-group"
                     [ngClass]="{'has-error':quote_form.controls['client_id'].touched
                                     && quote_form.controls['client_id'].errors}">

                  <label for="select2clients" class="col-sm-2 control-label">Client
                    <span class="required">*</span>
                  </label>

                  <div class="col-sm-6">
                    <select class="form-control select2"
                            id="select2clients"
                            style="width: 100%;"
                            [(ngModel)]="set_client_id"
                            formControlName="client_id">
                      <option selected="selected">- Select Client -</option>
                    </select>

                    <div *ngIf="quote_form.controls['client_id'].touched
                                    && quote_form.controls['client_id'].errors">
                                        <span class="help-block"
                                              *ngIf="quote_form.controls['client_id'].errors"
                                        >Client is required.</span>
                    </div>

                  </div>
                </div>

                <!-- title -->
                <div class="form-group"
                     [ngClass]="{'has-error':quote_form.controls['title'].touched
                                     && quote_form.controls['title'].errors}">

                  <label for="name" class="col-sm-2 control-label">Title
                    <span class="required">*</span>
                  </label>

                  <div class="col-sm-6">
                    <input type="text"
                           class="form-control"
                           id="title"
                           placeholder="title"
                           formControlName="title">

                    <div *ngIf="quote_form.controls['title'].touched
                                    && quote_form.controls['title'].errors">
                                        <span class="help-block"
                                              *ngIf="quote_form.controls['title'].errors"
                                        >Title is required.</span>
                    </div>

                  </div>
                </div>

                <!-- description -->
                <div class="form-group">
                  <label for="description" class="col-sm-2 control-label">Description</label>

                  <div class="col-sm-9">
                                        <textarea class="form-control"
                                                  id="description"
                                                  placeholder="Description"
                                                  rows="10"
                                                  formControlName="description"></textarea>

                  </div>
                </div>

                <!-- contact -->
                <div class="form-group">
                  <label for="contact" class="col-sm-2 control-label">
                    Contact</label>

                  <div class="col-sm-6">
                    <input type="text"
                           class="form-control"
                           id="contact"
                           placeholder="Contact"
                           formControlName="contact">

                  </div>
                </div>


                <!-- category -->
                <div class="form-group">
                  <label for="select2categories" class="col-sm-2 control-label">
                    Category</label>

                  <div class="col-sm-6">
                    <select class="form-control select2"
                            id="select2categories"
                            style="width: 100%;"
                            [(ngModel)]="set_category_id"
                            formControlName="category_id">
                      <option selected="selected" value="0">- Select Category -</option>
                    </select>

                  </div>
                </div>


              </div>
              <!-- /.box-body -->
              <div class="box-footer">

                <button type="submit"
                        class="btn btn-success"
                        [disabled]="!quote_form.valid"><i class="fa fa-fw fa-save"></i> Create
                </button>

                <!-- Back to Project -->
                <a *ngIf="!client" routerLink="/projects"
                   class="btn btn-default">
                  <i class="fa fa-fw fa-backward"></i> Back To Project List</a>


                <!-- Brack dropdown -->
                <div *ngIf="client" class="btn-group">
                  <a routerLink="/clients/{{client.id}}"
                     class="btn btn-default"><i class="fa fa-fw fa-backward"></i>
                    Back To Client</a>

                  <button type="button" class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a routerLink="/clients"><i class="fa fa-fw fa-backward"></i>Back To Clients</a></li>
                    <li><a routerLink="/clients/projects/{{client.id}}"><i class="fa fa-fw fa-backward"></i>Back To Client Project List</a></li>
                  </ul>
                </div>


              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          <!-- /.box -->
        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>

