<footer class="main-footer">
  <div class="container">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright &copy; 2017 Job Mgmt. system</strong>
  </div>
  <!-- /.container -->
</footer>