<div class="row">
    <div class="col-md-12">

        <div class="box box-info">

            <div class="box-body">

                <div class="dataTabsssles_wrapper fosrm-inline dt-sbootstrap">
                    <!-- table header -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length">
                                <label>Show

                                    <select name="example1_length"
                                            aria-controls="example1"
                                            class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries</label></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="example1_filter"
                                 class="dataTables_filter">

                                <button id="btn-add"
                                        class="btn btn-success btn-flat"
                                        routerLink="/clients/create">
                                    <i class="fa fa-fw fa-plus"></i> Add Client
                                </button>

                                <label><input
                                        class="form-control input-sm"
                                        placeholder=""
                                        aria-controls="example1"
                                        type="search"
                                        placeholder="Search all"></label></div>
                        </div>
                    </div>

                    <!-- table -->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="timeline-wrapper">
                                <div class="timeline-item">


                                    <table id="example1"
                                           class="table "
                                           role="grid">
                                        <tbody>


                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>
                                            <td>
                                                <div class="animated-background line"></div>
                                            </td>


                                        </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- table footer -->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info"
                                 id="example1_info" role="status"
                                 aria-live="polite">
                                Showing


                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
</div>